@font-face {
    font-family: "Digital";
    src: url("/assets/fonts/DotGothic16-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 300;
    src: url("/assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("/assets/fonts/Inter_18pt-ExtraBold.ttf");
}

:root {
    --regular-font: "Inter";
    --digital-font: "Digital";
    --bold-font: "Inter-Bold"
    --white:rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --pink: rgb(255, 17, 168);
    --transition: 0.5s ease-in-out 0.1s;
}

body {
    margin: 0;
    padding: 0; 
    width: 100%;
}

html {
    font-family: var(--regular-font);
}

header {
    border-bottom: 1.5px solid var(--black);
}

header,
footer {
    display: flex;
    justify-content: left;
}

header h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0;
    padding: 0.5rem;
    padding-left: 2rem;
}

main {
    padding: 2em;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--black);
}

h1, h2, h3, p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.homepage,
.artikel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage {
    background-color: var(--white);
}

.homepage-blogs {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    padding: 1em 1em 4em 1em;
    align-items: center; 
}

.homepage-blogs > :last-child {
    align-self: flex-start; 
}

.blogspage-heading {
    text-transform: lowercase;
    font-weight: 100;
    font-size: 1.2em;
}

.homepage h2:hover {
    color: var(--pink);
    cursor: default;
}

.intro {
    font-family: var(--digital-font);
    font-size: 1.5em;
    max-width: 900px;
    padding: 3rem;
    line-height: 3.5rem;
    margin-bottom: 3rem;
}

.intro p {
    text-align: center;
}

.blogs {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 8em;
    row-gap: 3em;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative; 
    width: 20em;
    height: 23em;
    margin: 0;
}

.blog a {
    position: absolute;
    z-index: 1;
    padding: inherit;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: scale(.7);
    gap: .5em;
}

.blog a:link, 
.blog a:active,
.blog a:visited {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.blog img {
    display: block;
    background-color: transparent;
}

.blog img:hover {
    transition: filter 0.3s ease-in-out;
    filter: saturate(130%) brightness(1.05) drop-shadow(0 0 30px var(--pink));
}

.blog-number { 
    font-family: var(--bold-font);
    font-size: 4rem;
}

.artikel {
    background-color: var(--white);
    min-height: 100vh;
    font-size: 14px;
    line-height: 1.5rem;
}

.artikel article {
    max-width: 800px;
    padding-top: 2rem;
}

.artikel h1{
    margin: 3rem 0 1rem 0;
}

.back-button {
    color: #000000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1rem;
    position: relative;
}

.back-button::before {
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    display: block;
    height: 1rem;
    left: 0px;
    position: absolute;
    width: 1rem;

    margin-top: -7.8px;
    top: 50%;

    transition: left 0.1s;
  
    transform: rotate( 45deg );
    -webkit-transform: rotate( 45deg );
  }

  .back-button::after {
    background: #000000;
    content: "";
    display: block;
    height: 1px;
    left: 0px;
    position: absolute;
    top: 50%;
    width: 1.5rem;
    transition: left 0.1s;
    margin-left: -2px;
  }


  @font-face {
    font-family: "Digital";
    src: url("/assets/fonts/DotGothic16-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 300;
    src: url("/assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("/assets/fonts/Inter_18pt-ExtraBold.ttf");
}

:root {
    --regular-font: "Inter";
    --digital-font: "Digital";
    --bold-font: "Inter-Bold"
    --white:rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --pink: rgb(255, 17, 168);
    --transition: 0.5s ease-in-out 0.1s;
}

body {
    margin: 0;
    padding: 0; 
    width: 100%;
}

html {
    font-family: var(--regular-font);
}

header {
    border-bottom: 1.5px solid var(--black);
}

header,
footer {
    display: flex;
    justify-content: left;
}

header h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0;
    padding: 0.5rem;
    padding-left: 2rem;
}

main {
    padding: 2em;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--black);
}

h1, h2, h3, p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.homepage,
.artikel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage {
    background-color: var(--white);
}

.homepage-blogs {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    padding: 1em 1em 4em 1em;
    align-items: center; 
}

.homepage-blogs > :last-child {
    align-self: flex-start; 
}

.blogspage-heading {
    text-transform: lowercase;
    font-weight: 100;
    font-size: 1.2em;
}

.homepage h2:hover {
    color: var(--pink);
    cursor: default;
}

.intro {
    font-family: var(--digital-font);
    font-size: 1.5em;
    max-width: 900px;
    padding: 3rem;
    line-height: 3.5rem;
    margin-bottom: 3rem;
}

.intro p {
    text-align: center;
}

.blogs {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 8em;
    row-gap: 3em;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative; 
    width: 20em;
    height: 23em;
    margin: 0;
}

.blog a {
    position: absolute;
    z-index: 1;
    padding: inherit;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: scale(.7);
    gap: .5em;
}

.blog a:link, 
.blog a:active,
.blog a:visited {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.blog img {
    display: block;
    background-color: transparent;
}

.blog img:hover {
    transition: filter 0.3s ease-in-out;
    filter: saturate(130%) brightness(1.05) drop-shadow(0 0 30px var(--pink));
}

.blog-number { 
    font-family: var(--bold-font);
    font-size: 4rem;
}

.artikel {
    background-color: var(--white);
    min-height: 100vh;
    font-size: 14px;
    line-height: 1.5rem;
}

.artikel article {
    max-width: 800px;
    padding-top: 2rem;
}

.artikel h1{
    margin: 3rem 0 1rem 0;
}

.back-button {
    color: #000000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1rem;
    position: relative;
}

.back-button::before {
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    display: block;
    height: 1rem;
    left: 0px;
    position: absolute;
    width: 1rem;

    margin-top: -7.8px;
    top: 50%;

    transition: left 0.1s;
  
    transform: rotate( 45deg );
    -webkit-transform: rotate( 45deg );
  }

  .back-button::after {
    background: #000000;
    content: "";
    display: block;
    height: 1px;
    left: 0px;
    position: absolute;
    top: 50%;
    width: 1.5rem;
    transition: left 0.1s;
    margin-left: -2px;
  }



  /* --- FONTS --- */

@font-face {
    font-family: 'Fira Code';
    src: url('../styles/FiraCode-VariableFont_wght.ttf');
  }
  
  /* --- CUSTOM PROPERTIES --- */
  
  :root {
    --white: #fff;
    --grey: #757575;
    --black: #000000; 
  }
  
  /* --- ELEMENTS --- */
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 16px;
  }
  
  /* --- IMAGES --- */
  
  .background-image {
    background-image: url('../images/background-visit-card.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .kitty {
    width: 110%;
    height: 110%;
    margin: -1rem;
  }
  
  /* --- DESIGNING THE CARD BODY--- */ 
  
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 43rem;
    height: 26rem;
    transform: translate(-50%, -50%);
    perspective: 1000px;
  }
  
  .card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  /* --- This makes a specific grid to place two sides of pin image on the card --- */
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 3px 5px 10px 0 var(--grey);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
  }
  
  .card__face--front {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 60% 1fr;
  }
  
  .card__face--back {
    background-color: var(--white);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .written-content {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: repeat(8, 3rem);
  }
  
  /* --- Typography --- */
  
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .large-header {
    font-size: 85px;
    margin-top: -1.1rem;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 9;
  }
  
  .medium-header {
    font-size: 60px;
    margin-top: -1rem;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 9;
  }
  
  .card__face--front h2 {
    align-self: right;
    font-family: 'Fira Code';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 9;
    padding-left: 1rem;
  }
  
  .contact {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: auto;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 9;
  }
  
  p {
    margin-left: auto;
    font-family: 'Fira Code';
  }
  
  .contact :nth-child(1){
    align-self: flex-end;
  }
  
  .small-par {
    margin: 0 4rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  /* --- Social Icons --- */
  
  .socials-buttons {
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
  }
  
  .socials-buttons img {
    width: 30px;
    height: 30px;
    margin-left: 1rem;
  }