@font-face {
    font-family: "Digital";
    src: url("/assets/fonts/DotGothic16-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 300;
    src: url("/assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("/assets/fonts/Inter_18pt-ExtraBold.ttf");
}

:root {
    --regular-font: "Inter";
    --digital-font: "Digital";
    --bold-font: "Inter-Bold"
    --white:rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --pink: rgb(255, 17, 168);
    --transition: 0.5s ease-in-out 0.1s;
}

body {
    margin: 0;
    padding: 0; 
    width: 100%;
}

main {
    font-family: var(--regular-font);
}

header {
    border-bottom: 1.5px solid var(--black);
}

header,
footer {
    display: flex;
    justify-content: left;
}

header h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0;
    padding: 0.5rem;
    padding-left: 2rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--black);
}

h1, h2, h3, p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.homepage,
.artikel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage {
    background-color: var(--white);
}

.homepage-blogs {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    padding: 1em 1em 4em 1em;
    align-items: center; 
}

.homepage-blogs > :last-child {
    align-self: flex-start; 
}

.blogspage-heading {
    text-transform: lowercase;
    font-weight: 100;
    font-size: 1.2em;
}

.homepage h2:hover {
    color: var(--pink);
    cursor: default;
}

.intro {
    font-family: var(--digital-font);
    font-size: 1.5em;
    max-width: 900px;
    padding: 3rem;
    line-height: 3.5rem;
    margin-bottom: 3rem;
}

.intro p {
    text-align: center;
}

.blogs {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 8em;
    row-gap: 3em;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative; 
    width: 20em;
    height: 23em;
    margin: 0;
}

.blog a {
    position: absolute;
    z-index: 1;
    padding: inherit;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: scale(.7);
    gap: .5em;
}

.blog a:link, 
.blog a:active,
.blog a:visited {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.blog img {
    display: block;
    background-color: transparent;
}

.blog img:hover {
    transition: filter 0.3s ease-in-out;
    filter: saturate(130%) brightness(1.05) drop-shadow(0 0 30px var(--pink));
}

.blog-number { 
    font-family: var(--bold-font);
    font-size: 4rem;
}

.artikel {
    background-color: var(--white);
    min-height: 100vh;
    font-size: 14px;
    line-height: 1.5rem;
}

.artikel article {
    max-width: 800px;
    padding-top: 2rem;
}

.artikel h1{
    margin: 3rem 0 1rem 0;
}

.back-button {
    color: #000000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1rem;
    position: relative;
}

.back-button::before {
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    display: block;
    height: 1rem;
    left: 0px;
    position: absolute;
    width: 1rem;

    margin-top: -7.8px;
    top: 50%;

    transition: left 0.1s;
  
    transform: rotate( 45deg );
    -webkit-transform: rotate( 45deg );
  }

  .back-button::after {
    background: #000000;
    content: "";
    display: block;
    height: 1px;
    left: 0px;
    position: absolute;
    top: 50%;
    width: 1.5rem;
    transition: left 0.1s;
    margin-left: -2px;
  }
